@import "../reset.css";
.recommend_items {
    position: relative;
    width: 1050px;
    margin: 0px auto;
}
.recommend_items .swiper-container {
    margin-right: -9px;
}
.swiper-item-button-prev,
.swiper-MDbutton-prev,
.swiper-freq-button-prev {
    position: absolute;
    top: 185px;
    display: block;
    background: url(../assets/buttons/prev_btn.svg) 50% 50% no-repeat;
    width: 60px;
    height: 60px;
    transform: translate(50%, -50%);
    left: -60px;
    z-index: 10;
    border: none;
    position: absolute;
    z-index: 100;
}
.swiper-item-button-next,
.swiper-MDbutton-next,
.swiper-freq-button-next {
    position: absolute;
    bottom: 172px;
    display: block;
    background: url(../assets/buttons/post_btn.svg) 50% 50% no-repeat;
    width: 60px;
    height: 60px;
    transform: translate(50%, -50%) rotate(180deg);
    right: -8px;
    border: none;
    position: absolute;
    z-index: 100;
}
.swiper-item-button-next::after,
.swiper-item-button-prev::after,
.swiper-MDbutton-next::after,
.swiper-MDbutton-prev::after,
.swiper-freq-button-next::after,
.swiper-freq-button-prev::after {
    display: none;
}
