@import "../reset.css";

/* ProductDetail 주요 표시 내용 */
.detail-item1-name {
    display: flex;
    justify-content: space-between;
}
.detail-item1-name .item1-name {
    width: 500px;
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 34px;
    letter-spacing: -0.5px;
    margin-right: 20px;
}
.detail-item1-name .share {
    width: 40px;
    height: 40px;
    background: url(../assets/icons/share_icon.svg) 50% 50% no-repeat;
    border: none;
}
.detail-item1-desc {
    padding-top: 5px;
    font-size: 14px;
    color: rgb(181, 181, 181);
    line-height: 19px;
    letter-spacing: -0.5px;
}
/* 가격 안내 */
.detail-sale-info {
    padding-top: 19px;
}
.detail-sale-info .discount-rate {
    padding-right: 9px;
    font-size: 28px;
    color: rgb(250, 98, 47);
}
.detail-sale-info .sales-price {
    padding-right: 4px;
    font-size: 28px;
    color: rgb(51, 51, 51);
}
.detail-sale-info .sales-price-unit {
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 18px;
    color: rgb(51, 51, 51);
    vertical-align: top;
}
.dimmed-price-wrap .dimmed-price {
    font-size: 16px;
    color: rgb(181, 181, 181);
    text-decoration: line-through;
    margin-right: 0px;
    letter-spacing: -0.5px;
}
.dimmed-price-wrap img {
    width: 21px;
    height: 21px;
    vertical-align: -4px;
    padding-left: 1px;
    cursor: pointer;
}

.login-price-notice .detail-price-notice {
    font-size: 14px;
    color: rgb(95, 0, 128);
    line-height: 19px;
    height: 19px;
    letter-spacing: -0.5px;
    margin-top: 14px;
}
/* 상품관련 주요사항 요약 테이블 */

.detail-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 17px 0px 18px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    letter-spacing: -0.5px;
}
.detail-info-container .detail-info-title {
    position: relative;
    top: 1px;
    width: 128px;
    height: 100%;
    color: rgb(102, 102, 102);
    line-height: 19px;
}
.detail-info-container .detail-info-wrap {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.detail-info-container .detail-info-name {
    color: rgb(51, 51, 51);
    line-height: 19px;
    white-space: pre-line;
    word-break: break-all;
    overflow: hidden;
}
.detail-info-container .detail-info-desc {
    display: block;
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    line-height: 16px;
    white-space: pre-line;
}
/* 구매내용 선택 */
.detail-item1-select {
    padding-bottom: 40px;
}
.detail-item1-select .detail-info-container {
    border-bottom: 1px solid rgb(244, 244, 244);
    display: flex;
}
.detail-info-container .item1-select1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 11px 10px 11px 15px;
    font-size: 12px;
    border: 1px solid rgb(244, 244, 244);
}

.item1-select1 .select1-item {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
}
.select1-item .select-item-name {
    line-height: 16px;
    width: 320px;
    color: rgb(51, 51, 51);
}
.item1-select1 .select1_number {
    -webkit-box-align: center;
    align-items: center;
    padding-top: 12px;
}
.select1-item-num .select-total-option {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 223, 225);
    width: 88px;
    border-radius: 3px;
}
.select-total-option .option-count {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-align: center;
    width: 31px;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
}
.select-total-option .option-pre-btn,
.select-total-option .option-post-btn {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 28px;
    /* color: transparent; */
    background-size: cover;
    background-color: transparent;
}

.select1_number .select1-item-num {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 12px;
}
.select-total-cost {
    font-weight: bold;
    font-size: 12px;
    color: rgb(51, 51, 51);
    padding-right: 5px;
}
.item1-select1 .select1_number > select {
    height: 40px;
}

.item1-price-info {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.item1-price-info .total-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.total-price .price-title {
    padding-right: 12px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.total-price .price {
    font-weight: bold;
    font-size: 32px;
    color: rgb(51, 51, 51);
    line-height: 36px;
}
.total-price .price-unit {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    line-height: 30px;
}
.point-info {
    padding-top: 10px;
}
.point-info .point-highlight {
    background-color: rgb(255, 191, 0);
    margin: 1px 6px 0px 0px;
    padding: 0px 7px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 20px;
}
.point-info .point-notice {
    line-height: 1.45;
    color: rgb(102, 102, 102);
}
/* 선택 아이콘들 */
.icons-wrap {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}
.icons-wrap button {
    display: block;
    text-align: center;
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}
.icons-wrap button > img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.cart-btn-wrap {
    width: 100%;
}
.cart-btn-wrap .cart-btn {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    min-width: 450px;
    height: 52px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}
.cart-btn-wrap .cart-btn > span {
    /* display: inline-block; */
    font-size: 16px;
    font-weight: 500;
}

/* 중간 nav바 */
/* .mid-nav {
    z-index: 20;
    position: sticky;
    top: 56px;
    width: 1010px;
    box-shadow: rgb(221 221 221) 0px -0.5px 0px 0px inset;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
} */
/* .mid-nav-container {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    background-color: rgb(250, 250, 250);
} */
/* .mid-nav-container .explain-wrap,
.mid-nav-container .more-detail-wrap,
.mid-nav-container .review-wrap,
.mid-nav-container .qna-wrap {
    display: flex;
    flex: 1 1 0%;
    border-width: 1px 0px 1px 1px;
    border-color: rgb(238, 238, 238);
    border-style: solid;
}

.mid-nav-container span {
    font-size: 16px;
    font-weight: 500;
}
.explain-wrap .explain-name {
    color: rgb(102, 102, 102);
} */

/* 상세페이지 상품 디테일 정보 */
#detail-item-details {
    padding-bottom: 60px;
}
#detail-item-details .item1-detail-info-container {
    width: 1010px;
    margin: 0px auto;
    font-family: "Noto Sans";
    font-weight: 300;
    letter-spacing: 0px;
}
.detail-item1-description {
    width: 100%;
}
.pic-context {
    margin-bottom: 170px;
}
.pic-context h3 {
    display: block;
    margin: 75px 0px 0px;
    padding-bottom: 35px;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    border-bottom: 1px solid rgb(193, 193, 193);
    color: rgb(102, 102, 102);
}
.pic-context p {
    font-size: 18px;
    line-height: 32px;
    color: rgb(55, 55, 55);
    margin-top: 28px;
}
